@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header{
    padding-bottom: 3rem;
    height: 111vh;
    background-image: url(./image/Background.jpeg);
    background-position: center;
    background-size: cover;
}

nav{
 /* border: 2px solid; */
 /* padding-block: 1rem;    */
}
.gen-layout{
    max-width: 1000px;
    margin: auto ;
}
.inner-nav{
    /* background-color: red; */
     width: 79rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 80px;
    /* justify-content: space-around; */
}

.inner-nav >h1{
    font-family: "Lobster", sans-serif;
    font-size: 30px;
    display: flex;
    font-weight: 900;
    margin-left: 6rem;
}

.inner-nav >h1 >img{
    /* border: 2px solid; */
    height: 60px;
    margin-top: -5px;
    margin-left: -0.6rem;
}

.nav-right{
    /* border: 2px solid blue; */
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
}

.nav-item{
    /* border: 2px solid; */
    display: flex;
    gap: 2rem;
}

.nav-item > a{
    background: linear-gradient(rgba(255, 0, 0, 0.696), #003258, rgb(239, 62, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-weight: 900;
    font-family: "Princess Sofia", cursive;
}

.nav-item > a:first-child{
    color: #ee4f0e;
    font-weight: 600;
}

.btn-btn > button{
    padding: .7rem 1.6rem;
    border-radius: 5px;
    /* background-color: red; */
    background: linear-gradient(#ff00009c, rgb(87, 0, 95));
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    border: none;
    color: #fff;
}

.banner{
    /* border: 2px solid blue; */
    display: flex;
    gap: 20rem;
    border-radius: 30px;
    height: 90vh;
    width: 100rem;
    align-items: center;
    background-image: url(./image/Subb.jpeg);
    background-position: center;
    background-size: cover;
    /* margin-block: 2rem; */
  }

.banner-content{
    width: 25%;
    margin-left: 1.5rem;
    /* border: 2px solid blue; */
}

.banner-content > h1{
    font-size: 3rem;
    display: flex;
    width: 410px;
    margin-left: 7rem;
    font-family: "Princess Sofia", cursive;
    color: white;
}

.banner-content >img{
    /* font-weight: 900; */
    color: white;
    margin-left: 17rem;
    width: 62px;
}

.banner-content > h1 > span{
    color: #b70c00;
}

.banner-content > h1 >p{
    color: rgba(0, 123, 255, 0.486);
}

.banner-content >h4{
    color: white;
    margin-left: 13rem;
    margin-block: 1rem;
    width: 200px;
    font-family: "Dancing Script", cursive;
}

.banner-content >h2{
    color: white;
    font-size: 18px;
    /* border: 2px solid red; */
    width: 32rem;
    margin-block: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner-image{
    width: 35%;
    /* height: 64vh; */
    /* border: 8px solid #f6aa87; */
}

.banner-image > img{
    width: 100%;
}

.bigbox{
    /* border: 2px solid blue; */
    display: flex;
    gap: 3rem;
    margin-block: 4rem;
}

.box1{
    border-top: 2px solid rgba(125, 7, 7, 0.701);
    border-left: 2px solid rgba(125, 7, 7, 0.701);
    border-right: 2px solid rgba(125, 7, 7, 0.701);
    height: 54vh;
    width: 20.05rem;
    color: white;
    background-color: #b70c00;
}

.box1 >img{
    height: 17rem;
    width: 19.8rem;
}

.box1 >h4{
    color: white;
    margin-left: 0.2rem;
    margin-top: 0.5rem;
}

.box2{
    border-top: 2px solid rgba(125, 7, 7, 0.701);
    border-left: 2px solid rgba(125, 7, 7, 0.701);
    border-right: 2px solid rgba(125, 7, 7, 0.701);
    height: 54vh;
    width: 20.05rem;
    color: white;
    background-color: #b70c00;
}

.box2 >img{
    height: 17rem;
    width: 19.8rem;
}

.box2 >h4{
    color: white;
    margin-left: 0.7rem;
    font-size: 14.5px;
    margin-top: 0.5rem;
}

.box3{
    border-top: 2px solid rgba(125, 7, 7, 0.701);
    border-left: 2px solid rgba(125, 7, 7, 0.701);
    border-right: 2px solid rgba(125, 7, 7, 0.701);
    height: 54vh;
    width: 20.05rem;
    background-color: #b70c00;
}

.box3 >img{
    height: 17rem;
    width: 19.8rem;
}

.box3 >h4{
    color: white;
    margin-left: 2rem;
    margin-top: 0.5rem;
}